*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    border-radius: 10px;
    background-color: rgb(255, 207, 74);
    width: 500px;
    padding: 3%;
}
form .text{
    text-align: center;
}
.pq{
    padding: 7% 0;
    margin-left: 30%;
}