<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/mvc-hj/css/NavbarB.css">
    <link rel="stylesheet" href="/mvc-hj/css/comida.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Sándwich de aguacate y huevo</title>
</head>
<body>

    <nav>
        <!--BotonCheck-->
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <!--Imagen del navbar-->
        <a href="/mvc-hj/" class="logo">
            <img src="/mvc-hj/Img/LogoPollitoFutbol.png" alt="" class="Logonav">
        </a>
      </nav>
    <div class="Contenerdor" >
        <div class="titulo">
            <h1>Sándwich de aguacate y huevo</h1>
        </div>

        <div class="imge">
            <img src="/mvc-hj/Img/aguacate 1.jpg" alt="Sándwich de aguacate y huevo">
            <img src="/mvc-hj/Img/aguacate 2.jpg" alt="Sándwich de aguacate y huevo">
        </div>

        <div class="ingre">
            <H3>Ingredientes</H3>
            <ul>
                <li>2 rebanadas de pan de molde de centeno</li>
                <li>Medio aguacate</li>
                <li>Una pizca de sal en escamas</li>
                <li>Una pizca de semillas de sésamo negro</li>
                <li>Una pizca de tomate deshidratado en hojuelas</li>
                <li>Una pizca de pimienta negra molida</li>
                <li>5 ml de aceite de oliva virgen extra</li>
                <li>1 huevo campero</li>
            </ul>
        </div>  
        
        <div class="text">
            <h3>Elaboración</h3>
            <p>Lo primero que tenemos que hacer es poner las 2 rebanadas de pan de molde de centeno a tostar en un grill, o en una tostadora, durante unos minutos.<br> <br>

                Retiramos la piel de la mitad de un aguacate, que estará preferiblemente maduro, y lo cortamos en rodajas no muy gruesas. Las ponemos sobre una de las rebanadas de pan de molde tostado y condimentamos con una pizca de sal en escamas, una pizca de semillas de sésamo negro, 1 pizca de tomate deshidratado en hojuelas y pimienta negra molida.<br> <br>
                
                Echamos en una sartén 5 ml de aceite de oliva virgen extra y, cuando esté caliente, cascamos un huevo y lo hacemos a la plancha procurando que la yema no se cuaje.<br> <br>
                Ponemos el huevo sobre el aguacate y volvemos a condimentar con la mezcla de especias anteriormente citadas. Colocamos la otra rebanada de pan de molde tostado y ya tenemos nuestro sándwich listo para disfrutar. <br> <br>
        </div>
    </div>
    <section id="contacto">
        <footer class="text-center text-lg-start">
            <div class="container p-4">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Numero de contacto</h5>
                        <p> Fijo: 267 0734</p>
                        <p>Celular: 3206807276</p>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Horario de atencion</h5>
                        <p>Lunes a Sabados: 7:00A.M - 9:00P.M</p>
                        <p>Domingos: 7:00A.M- 12:00P.M</p>
                    </div>  
                </div>
            </div>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              El Señor mi proveedor &copy;Huevos Jireth 2022:
              <a class="text-light" href="#">HuevosJireth.com</a>
            </div>
        </footer>
    </section>
</body>
</html>